body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none; padding: 0;
}

nav li {
    display: inline; margin-right: 15px;
}

table, th, td {
    border: 1px solid black; border-collapse: collapse; padding: 5px;
}